body {
    font-family: Damascus;
    font-size: 1.65em;
    background-image: url("stardust.png");

}

#map {
    margin-bottom: 5%;
}

#location:hover {
    background-color: darkslategray;
    color: lightgreen;
}

#winterface:hover {
    background-color: darkslategray;
    color: lightgreen;
}

#daytwo:hover {
    background-color: darkslategrey;
    color: lightgreen;
}

#daythree:hover {
    background-color: darkslategray;
    color: lightgreen;
}
#location {
    background-color: slategray;
    color: white;
    margin-left: 35%;
    margin-right: 35%;
    padding: 2%;
    border-radius: 10%;
    font-style: oblique;

}

#interface {
    margin-top: 5%;
    margin-bottom: 5%;

}

#interface h2 {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#winterface {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    /*margin-left: 18%;
    margin-right: 18%;*/
    padding: 1.25%;
    text-align: center;
    text-wrap: none;
    color: white;
    background-color: slategray;
    transition: transform 300ms ease-in-out;

}

#daytwo {
    display: flex;
    justify-content: center;
    margin-top: 1.25%;
    /*margin-left: 18%;
    margin-right: 18%;*/
    padding: 2%;
    text-align: center;
    text-wrap: none;
    color: darkslategrey;
    background-color: lightgreen;

}

#daythree {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    /*margin-left: 18%;
    margin-right: 18%;*/
    padding: 1.25%;
    text-align: center;
    text-wrap: none;
    color: white;
    background-color: slategray;
    transition: transform 300ms ease-in-out;


}

#map {
    height: 400px;
    width: 50%;
    background-color: grey;
    /*position: relative;
    display: flex;
    justify-content: center;*/
    margin-right: 20%;
    margin-left: 25%;

}

#butsearch {
    display: flex;
    justify-content: flex-start;
    margin-top: 1%;
}

/*.trigger {
    padding: 1.25% 2%
}

.trigger:hover {
    transform: translate(100%);
}

.trigger2 {
    padding: 1.25%
}

.trigger2:hover {
    transform: translate(-100%) scale(1);
}*/

/*Non-custom CSS*/

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#target {
    width: 345px;
}

